.quizListViewContainer{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.quizListContainer{
    margin-top: 13rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 1160px) {
    .quizListContainer{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1rem;
        
    }
    
}
@media only screen 
and (min-device-width : 100px) 
and (max-device-width : 480px) {
    .quizListContainer{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 1rem;
        
    }
    
}