.question{
    margin: 2rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem;
}
.eachQuestion{
    text-align: center;
    padding: 0 60px;
}
.optionsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.check-btn{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.eyeIcon{
    position: relative;
    right: -600px;
    
}