.quizSpeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.qAndA {
  width: 700px;
}
.langName{
  color: rgb(0, 163, 163);
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  html {
    width: 100%;
  }
  .qAndA {
    width: auto;
  }
}
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
  html {
    width: 100%;
  }
  .qAndA {
    width: auto;
  }
}
